/* src/css/main.css */

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    /*transform: translateY(10px); /* slight upward motion */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* === Base styles (mobile first) === */

:root {
  --black: #2F2F2F;
  --white: #F8F8F8;
  --light-green: #DDE5E0;
  --green: #AEC4B6;
  --dark-brown: #6C5F62;
  --desktop-col: calc(((100dvw - 60px) - 220px) / 12);
  --tablet-col: calc(((100dvw - 40px) - 70px) / 8);
  --mobile-col: calc(((100dvw - 40px) - 50px) / 6);
  font-family: 'Roboto Mono',monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  /* letter-spacing: -0.03em; */
  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  justify-content: left;
  align-items: left;
}

section {
  margin: 0 0.6rem;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

main {
  max-width: 100%;
    /* Universal page using fadeIn animation */
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
}

h1 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: -0.04em;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: -0.04em;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  letter-spacing: -0.04em;
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  font-weight: 500;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

button {
  color: var(--black);
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

a {
  font-weight: 400;
  text-decoration: inherit;
  position: relative;
  color: inherit;
  font: inherit;
  transition: color 0.3s ease;
}
a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.05em; /* adjust for alignment */
  width: 100%;
  height: 0.4em;
  background: var(--light-green); /* or use rgba(255,255,0,0.6) for yellow */
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
a:hover::after,
a:focus::after {
  transform: scaleX(1);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black);
    background-color: var(--white);
  }
  button {
    background-color: var(--white);
  }
}

/* .fixed-top {
  position: fixed;
  top: 0 ;
  right: 0;
  left: 0;
  z-index: 1030;
} */

.site-header {
  display: flex;
  align-items: center;
  padding: 0.6rem;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0%);
  z-index: 100;
  width: -webkit-fill-available;
  width: -moz-available;
  will-change: transform;
  position: fixed;
  height: 40px;

  /* width: 100%;
  max-width: 100%;
  box-sizing: border-box; */
}

.logo {
  margin-left: 0.6rem;
  font-size: 1.125rem;
  font-weight: 300;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  color: var(--black);
  margin-right: auto;
  overflow: hidden;
  display: flex;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.site-main-image-wrapper {
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
  display: flex;
  height: 100dvh;
  width: 100dvw;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  will-change: transform;
  inset: 0;
  position: absolute;
  z-index: -999;
  overflow:hidden;
}

/* Landing Page ------------------------ */
.site-main-image {
  position: absolute;
  width: 82vw;
  max-height: 82%;
  transform: translate(15vw, 1vh);
  overflow: hidden; 
}

.site-main-content {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin: 0 1.2rem;
}

.site-main-language-wrapper {
  align-items: center; /* vertically align elements in the wrapper */
  gap: 0.6rem;
  margin-bottom: 2rem;
  width: 100%;
}

.site-main-subtitle {
  width: 100%;
  line-height: 1.25rem;
  font-weight: 300;
}

.site-main-title {
  align-items: flex-end;
  width: 100%;
  margin-bottom: 1.2rem;
}


.navbar {
  min-height: 3rem;
  display: flex;
  padding: 0 0.8rem;
}

.navbar-title {
  padding-top: .5rem;
  align-self: flex-start;
}

.navbar-hamburger {
  align-self: flex-end;
}

/* Arrows */
.nav-arrow {
  font-size: 1rem; /* adjust the size as needed */
  margin-right: 1rem;
  opacity: .8;
  font-family: 'Work Sans', sans-serif; /* same as the other links for consistency */
  display:inline-block;
  line-height: 1.6;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40; /* below hamburger icon which is 50 */
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.menu-overlay ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.menu-overlay li {
  margin: 1rem 0;
}
.menu-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}
.menu-overlay.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Recent Posts ------------------------- */

#recent-posts {
  padding-top: 58px;
}

.recent-post-wrapper {
  padding: 1.8rem 0;
}

.recent-posts-header-wrapper {
  margin-block-start: 12rem;
  margin-bottom: 5rem;
}

.recent-posts-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto auto auto auto;
  border-bottom: 1px solid #ccc;
}

.recent-posts-title {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.recent-posts-title h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.recent-posts-category {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  justify-self: end;
}

.recent-posts-date {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.recent-posts-tags {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  justify-self: end;
}

.recent-posts-image-wrapper {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding: 0.6rem 0 .8rem 0;
  

  /* make the aspect ratio always 16:9 and fill to the width then hide any overflow of the image*/
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.recent-posts-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.recent-posts-image-preview {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
  padding: 0 0 .6rem 0;
}

.recent-posts-image-preview p {
  font-size: .875rem;
  margin: 0;
}

.recent-posts-data {
  font-size: .8rem;
  opacity: .7;
}

.recent-posts-preview {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
  padding: .8rem 0 .6rem 0;
  background-color: inherit;
}

.recent-posts-preview p {
  font-size: .875rem;
  margin: 0;
}

.recent-posts-korean {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  padding-bottom: .6rem;
}

/* Blog Feed ------------------------------- */

#blog-feed {
padding-top: 6rem;
margin-bottom: 2rem;
}

.blog-feed-wrapper {
  border-bottom: 1px solid #ccc;
}

.blog-feed-header-wrapper {
  margin-bottom: 1rem;
}

.blog-feed-content-wrapper {
  padding: 1rem 0;
}

.blog-feed-date {
  font-size: .8rem;
  padding-left: 1rem;
}

.blog-feed-title h2 {
  font-family: 'Roboto Mono',monospace;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
}


/* About Page ------------------------- */
#about-container {
  padding-top: 58px;
 }
.about {
  margin-bottom: 2rem;
  padding: .5rem;
  border-bottom: 1px solid #ccc;
}
.about-date {
  font-size: .9rem;
  opacity: .7;
  margin-left: -0.5rem;
}
.about-summary {
  height: 8rem;
}
.about-title-wrapper {
  margin-block-start: 1.6rem;
  height: 9.4rem;
}

.about ul {
  padding-inline-start: 1rem;
  padding-bottom: 1rem;
}

.about-language-wrapper {
  display: flex;
  align-items: center; /* vertically align elements in the wrapper */
  gap: 0.6rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}


.post-arrow {
  font-size: 0.8rem; /* adjust the size as needed */
  /* margin-left: -0.7rem; */
  opacity: .8;
  font-family: 'Work Sans', sans-serif;
  display: inline-block;
  line-height: 1;
}

/* Blog posts  ------------------------ */
.blog-posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog-post {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
}

#post-container {
  padding-top: 58px;
 }

.post-title-wrapper {
  margin-block-start: 1.6rem;
  height: 14rem;
  padding: 0 .5rem;
}



.post-title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.18;
  /* margin-bottom: 7.5rem; */
  letter-spacing: -0.04em;
}
.post-content {
  padding: 0 .5rem;
}

.post-loading {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 100vh !important;
}

.mini-post-loading {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 25vh !important;
}

.meta-data {
  font-size: .9rem;
  opacity: .7;
  margin-top: 2.5rem;
}


.post-language-wrapper {
  display: flex;
  align-items: center; /* vertically align elements in the wrapper */
  gap: 0.6rem;
  margin-bottom: 2rem;
  padding: 0 .5rem;
}

.post-language-btn {
  margin: 0;
  line-height: 1;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}
.post-language-btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.3em;
  width: 100%;
  height: 0.7em;
  background: var(--light-green);
  z-index: -1;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}
.post-language-btn:hover::after,
.post-language-btn:active::after {
  transform: scaleX(1);
}

.post-main-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.post-main-image {
  width: 100%;
  max-width: 800px;
  display: block;
  height: 100%;
  object-fit: cover;
}
.post-main-image-placeholder {
  height: 2.5rem;
  background-color: inherit;
}

.footnotes {
 display: grid;
 grid-template-columns: auto auto;
 gap:.2rem;
}
.footnotes p {
  margin-top: 0;
}

.over-left {
  margin-left: -0.6rem;
}

/* Characters while they are scrambling */
.dud {
  opacity: 0.4;
}





/* === Media queries (for larger screens) === */
@media (min-width: 640px) {
  body {
    margin: 2rem;
  }

  main {
    max-width: 800px;
    margin: 0 20vw;
  }
  .site-main-image {
    width: auto;
    transform: translate(0,0);
  }
  .site-main-content {
    height: 85dvh;
    overflow: hidden;
  }
  .site-main-image-wrapper {
    width: auto;
    max-height: 800px;
    justify-content: flex-end;
    overflow: unset;
  }

}
